@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {     
    padding: 0px;
    margin: 0;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 800;
}

:root {
    --colorprimario: #4bbb2f;
    --colorblanco: #ffffff;
    --colornegro: #000000;
    --colorplomo: #D9D9D9;
    --colortrans: #00000000;
    --colorvoscuro: #327321;
    --colorn: #ffbf00;
    --colorvos: #156019;
}

::placeholder {
    color: var(--colorn);
}

::selection {
    color: var(--colorn);
}

h1 {
    font-size: 40px;
    font-weight: 800;
    color: var(--colorblanco);
    font-family: "Inter";
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--colorblanco);
    font-family: "Inter";
}


h3 {
    font-size: 20px;
    color: var(--colorblanco);
    font-family: "Inter";
}

h4 {
    font-size: 15px;
    font-weight: 600;
    color: var(--colornegro);
    text-align: center;
    font-family: "Inter";
}

h5 {
    font-size: 10px;
    color: var(--colorblanco);
    text-align: center;
    font-family: "Inter";
}

h6 {
    font-size: 8px;
    color: var(--colorblanco);
    text-align: center;
    font-family: "Inter";
}

/*MENUUUUUUUUUUUUU*/

header {
    background-color: var(--colorblanco);
}

.menunav, .menunav2 {
    max-width: 1140px;
    height: 80px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.logotipo1, .logotipo2 {
    width: 45px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 70px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-family: "Inter";
}

.nav-list {
    list-style: none;
    font-family: "Inter";
}

.nav-li a {
    text-decoration: none;
    color: var(--colorvos);
    font-size: 18px;
    font-weight: bold;
    font-family: "Inter";
}

.abrir-menu, .cerrar-menu, .logotipo2 {
    display: none;
}

.bt-contacto button {
    text-decoration: none;
    color: var(--colorvos);
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    border: solid 3px var(--colorvos);
    padding: 6px;
    background-color: var(--colorblanco);
    font-family: "Inter";
}

.bt-contacto button:hover {
    color: var(--colorblanco);
    background-color: var(--colorvoscuro);
    font-family: "Inter";
}

/*PORTADAAAAAAAAAAAAAAAAAAAAAAA*/

.p-texto {
    display:flex;
    flex-direction: column;
    gap: 25px
}

.p-texto {
    background-color: var(--colorprimario);
    border: solid 3px var(--colortrans);
    padding-left: 0px;
}

.p-texto h3{
    font-weight: 400;
    text-align: center;
}

.p-texto h1 {
    border: solid 3px var(--colortrans);
    text-align: center;
}

.p-texto p {
    text-align: center;
    color:var(--colorblanco);
}

.portada {
    padding: 50px 0;
    background-color: var(--colorvos);
}

.portada {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.p-imagen {
    display: grid;
    align-items: center
}

.p-imagen img {
    width: 100%;
    height: 100%;
}

.bt-enviar {
    background-color:var(--colornegro);
    padding: 8px;
    width: 576px;
    color: var(--colorblanco);
    border: 0;
    border-radius: 0px;
}

.bt-enviar:hover {
    color: var(--colornegro);
    background-color:var(--colorvoscuro);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}


.formulario input {
    width: 80%;
    padding: 5px;
    color: var(--colorvos);
    border: var(--colortrans);
    font-weight: 200;
}

.formulario .bt-enviar {
    color: var(--colorblanco);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*BENEFICIOOOOOOOOOOOOOS*/

.beneficios {
    padding: 50px;
    color: var(--colornegro);
    background-color: var(--colorblanco);
}

.beneficios {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px

}

.p-imagen1 {
    margin: 30px;
    margin-top: 55px;

}

.p-texto1 h3 {
    text-align: justify-center;
    font-size: 600;
    color: var(--colornegro);
    font-family: "Inter";
}

.p-texto1 li {
    text-align: justify-center;
    font-size: 12px;
    font-family: "Inter";
    color: var(--colornegro);
}

.p-texto1 {
    background-color: var(--colorblanco);
    border: solid 10px var(--colortrans);
    padding: 70px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    padding-right: -12px;
}

.p-texto1 ul {
    list-style-position: inside;
}

.p-imagen1 img {
    width: 100%;
    border-radius: 8px;
}

/*TESTIMONIOSSSSSSSSSSSSSSSSSS*/

.testimonios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    background-color: var(--colorvoscuro);
    padding: 50px;
}


.p-texto2 h3, .p-texto2 h4 {
    text-align: center;
    color: var(--colornegro);
    font-family: "Inter";
}

.p-texto2 {
    background-color: var(--colorblanco);
    padding: 50px;
    padding-left: 35px;
    border-radius: 95px;
    padding-right: 36px;
    width: 100%;
}

/*ASESORIAAAAAAAAAAAAAAAAAA*/

.asesoria {
    background-color: var(--colorblanco);
    padding: 50px;
}

.asesoria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px
}

.p-texto3 h3, .p-texto3 h4 {
    text-align: center;
    color: var(--colorvos);
    font-family: "Inter";
}

.p-texto3, .p-texto4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.p-texto4 h4 {
    text-align: center;
    color: var(--colornegro);
    font-family: "Inter";
}

.p-texto4 {
    background-color: var(--colorplomo);
    border: solid 50px var(--colorblanco);
    padding: 31px;
    padding-left: 35px;
    border-radius: 80px;
    padding-right: 36px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: baseline;
}

.p-texto4 input {
    border-radius: 50px;
    border: var(--colortrans);
    gap: 30px;
    padding: 15px;
    height: 307px;
    width: 577px;
    }

.input-1 input, .input-2 input {
    border-radius: 50px;
    border: var(--colortrans);
    padding: 8px;
    height: 30px;
    width: 220px;
    padding-right: 10px;
    padding-left: 4px;
    }

.formulario1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.formulario1 input {
    width: 80%;
    padding: 5px;
    color: var(--colorvos);
    border: var(--colortrans);
}

.input-1, .input-2 {
    display: flex;
    gap: 10px;
}

.input-1 label, .input-2 label {
    color: var(--colornegro);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-size: 16px;
    
}

button {
    cursor: pointer;
    padding: 10px 25px;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1.25rem;
    background-color: transparent;
}

.btn1 {
    border: 2px solid var(--colorBlanco);
    background-color: var(--colorBlanco);
    color: var(--colorn);
}

.btn1:hover {
    background-color: transparent;
    color: var(--colorBlanco);
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px 0;
}

/*PORTADAAAAAAAAAAAAAAAAAAAAAAA*/

.p-texto {
    display:flex;
    flex-direction: column;
    gap: 25px
}

.p-texto {
    background-color: var(--colorvos);
    border: solid 3px var(--colortrans);
    padding-left: 0px;
}

.p-texto h3{
    font-weight: 400;
    text-align: center;
}

.p-texto h1 {
    border: solid 3px var(--colortrans);
    text-align: center;
}

.p-texto p {
    text-align: center;
    color:var(--colorblanco);
}

.portada {
    padding: 50px 0;
    background-color: var(--colorvos);
}

.portada {
    display: flex;
    grid-template-columns: 1fr 1fr;
}

.p-imagen {
    display: grid;
    align-items: center
}

.p-imagen img {
    width: 100%;
}

.bt-enviar {
    background-color:var(--colornegro);
    padding: 8px;
    width: 576px;
    color: var(--colorblanco);
    border: 0;
    border-radius: 0px;
}

.bt-enviar:hover {
    color: var(--colornegro);
    background-color:var(--colorvoscuro);
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}


.formulario input {
    width: 80%;
    padding: 5px;
    color: var(--colorvos);
    border: var(--colortrans);
    font-weight: 200;
}

.formulario .bt-enviar {
    color: var(--colorblanco);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/*EQUIPOOOOOOOOOOOOOOOOOO*/

.equipo {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}


.p-texto6 h2 {
    color: var(--colorvos);
    text-align: center;
    padding: 50px;
}

div.p-imagen6 img {
    width: 100%;
    height: auto;
}

div.ptexto7 {
    text-align: center;
    color: var(--colorvos);
}

.ptexto7 p {
    font-weight: 900;
    font-size:large; 
}




/*estilo a mi navegación*/

/*color de mi menu de navegación*/
header {
 background-color: var(--colorblanco);
}

/*dar estilo al menu de navegación*/
.menunav, .menunav2 {
    height: 90px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}


/*tamaño de mi logo*/
.logotipo1, .logotipo2 {
    height: 100%;
}

.menu {
    display: flex;
    align-items: center;
}

/*alinear mi lista y el boton de forma horizontal*/
.nav {
    display: flex;
    gap: 50px;
}

/*quitar los puntos y alinear horizontal mis opciones*/
.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

/*quitar subrayado, cambiar el color y tamaño del texto*/
.nav-list li a {
    text-decoration: none;
    color: var(--colorvos);
    font-size: 20px;
}

/*ocultar el logotipo, el icono de abrir y cerrar*/
.abrir-menu, .cerrar-menu, .logotipo2 {
    display: none;
}

.portada, .testimonios {
    display: flex;
    gap: 50px;
    background-color: var(--colorvos);
    padding: 50px;
}

.p-texto {
    width: 100%;
    background-color: var(--colorvos);
    color: var(--colornegro);
    text-align: center;
}

.p-texto1 {
    width: 100%;
    background-color: var(--colorblanco);
    padding: 50px;
    color: var(--colorblanco);
    text-align: center;
}

.p-texto2 {
    width: 100%;
    background-color: var(--colorblanco);
    padding: 50px;
    color: var(--colorblanco);
    text-align: center;
}

.p-texto3 {
    width: 100%;
    background-color: var(--colorblanco);
    padding: 50px;
    color: var(--colorblanco);
    text-align: center;
}

.p-texto4 {
    width: 100%;
    background-color: var(--colorplomo);
    padding: 50px;
    color: var(--colorblanco);
    text-align: center;
}

.beneficios {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    background-color: var(--colorblanco);
    padding: 50px;
}

.asesoria {
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    background-color: var(--colorblanco);
    padding: 50px;
}

/*vista tablet*/
@media (max-width: 1023px) {
    
    /*estilo a mi navegación*/
    .container {
        margin: 0 30px;
        padding: 50px 0;
    }

    .menunav {
        padding: 20px 0;
    }

    .portada, .beneficios, .testimonios, .asesoria {
        padding: 50px;
    }

}

/*vista mobile*/
@media (max-width: 767px) {
    
    /*estilo a mi navegación*/
    .container {
        margin: 0 30px;
        padding: 50px 0;
    }

    .menunav {
        padding: 20px 0;
    }
    

    .menunav2 {
        width: 100%;
        padding: 20px 30px;
    }
    
    /*mostrar el logotipo, el icono de abrir y cerrar*/
    .abrir-menu, .cerrar-menu, .logotipo2 {
        display: block;
        padding: 0;
    }
    
    /*cambiar el tamaño y el color de los iconos*/
    .bi {
        font-size: 2rem;
        color: var(--colornegro);
        
    }

    /*ocultar menu*/
    .menu {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: start;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--colorblanco);
    }

    /*mostrar menu*/
    .menu.visible {
        opacity: 1;
        visibility: visible;
    }
    

    /*cambiar la alineación de horizontal a vertical de lista y boton*/
    .nav {
        width: 100%;
        padding: 50px 30px;
        flex-direction: column;
    }
    
    /*cambiar la alineación de horizontal a vertical de las opciones*/
    .nav-list {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    .portada {
        flex-direction: column;
        padding: 15px;
        align-items: center;
    }

    .testimonios {
        flex-direction: column;
        padding: 50px;
        align-items: center;
        gap: 15px;
    }


    .beneficios {
        flex-direction: column;
        padding: 50px;
        align-items: center;
        gap: 0px;
    }

    .p-imagen1 img {
        width: 100%;
        border-radius: 8px;
        align-items: start;
    }

    .asesoria {
        flex-direction: column;
        padding: 50px;
        align-items: center;
        gap: 0px;

    }

    .portada h1 {
        font-size: 1.17em;
    }

    .portada h3 {
        font-size: 1em;
    }

    .p-texto1 h3 {
        font-size: 1em;
    }

    .p-texto1 li h3 {
        font-size: 1em;
    }

    .p-texto1 {
        width: 145%;
        height: 100%;
        background-color: var(--colorblanco);
        padding: 50px;
        color: var(--colorblanco);
        text-align: center;
    }


    .p-texto3 {
        width: 150%;
        background-color: var(--colorblanco);
        padding: 15px;
        color: var(--colorblanco);
        text-align: center;
    }

    .p-texto2 {
        width: 130%;
        height: 50%;
        background-color: var(--colorblanco);
        padding: 50px;
        color: var(--colorblanco);
        text-align: center;
    }

    .p-texto2 h3 {
        font-size: medium;

    }

    .p-texto4 {
        width: 180%;
        background-color: var(--colorplomo);
        padding: 18px;
        color: var(--colorblanco);
        text-align: center;
    }

    .p-texto4 input {
        border-radius: 50px;
        border: var(--colortrans);
        gap: 30px;
        padding: 15px;
        height: 307px;
        width: 577px;
        }
    
    .input-1 input, .input-2 input {
        border-radius: 50px;
        border: var(--colortrans);
        padding: 8px;
        height: 30px;
        width: 220px;
        padding-right: 10px;
        padding-left: 4px;
        }
    
    .formulario1 {
        display: flex;
        flex-direction: column;
        gap: 25px;
        align-items: center;
    }
    
    .formulario1 input {
        width: 100%;
        padding: 5px;
        color: var(--colorvos);
        border: var(--colortrans);
    }
    
    .input-1, .input-2 {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }
    
    .input-1 label, .input-2 label {
        color: var(--colornegro);
    }

    .equipo {
        padding: 50px;
        display: flex;
        gap: 25px;
        flex-direction: column;
        
    }

    .p-texto6 {
        background-color: var(--colorblanco);
        color: var(--colorblanco);
        text-align: center;
    }   

    .p-imagen6 img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        align-items: start;
    }

}









